basic-project/.classpath/
basic-project/.settings/
basic-project/target/
*.class
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.prefs
local.properties
.settings/
.loadpath
.recommenders
/basic-project/.classpath
